body{
    background-color: #000;
    color: #fff;
    margin: 0em 2em;
    margin-top: 2em;
    font-family: 'Lato', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 500px;
}

img {
    max-width: 100%;
}

.gallery2{
    display: none;
}

/*------------Body--------------------*/

.image-slider{
    position: relative;
    width: 100%;
    height: 250px; 
    background: #000;
   
}



.image-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%; 
    clip-path: circle(0% at 0 50%);
}

.image-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
}


.image-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
    height: 250px;
}

.image-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.image-slider .navigation .btn{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.image-slider .navigation .btn.active{
    background: #ff0000;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);    
}


.flex-poster{
    display: flex;
    flex-direction: column;
}

.event-poster1{
    max-width: 75%;
    margin: 0 auto;
    padding-bottom: 3em;
}

.event-poster2{
    max-width: 75%;
    margin: 0 auto;
    padding-bottom: 3em;
}

.event-poster3{
    max-width: 75%;
    margin: 0 auto;
    
}

.event-poster1:hover{
    transform: scale(1.05);
    transition: 0.35s;
}

.event-poster2:hover{
transform:scale(1.05) ;
transition: 0.35s;
}

.event-poster3:hover{
transform: scale(1.05);
transition: 0.35s;

}

/*------------Navigation--------------*/

.flex-list{
    display: flex;
    justify-content: space-between;
}

ul{
    padding: 0%;
}

li {
    list-style-type: none;
    font-size: 1rem;
}

.main-nav-links{
    color:#fff;
    text-decoration: none;
}

a:hover{
    color: #ff0000;
    transition: 0.35s;
}

.current{
    color:#ff0000;
    text-decoration: none;
    border-bottom: 0.125em solid #ff0000;
    padding-bottom: 0.25em;
}
.current:hover{
    color:#ff0000;
}

/*--------------Typography---------------*/

h2{
    text-align: center;
    font-size: 1rem;
    color: #ff0000;
    padding: 1em 0em;
}

.info {
    text-align: center;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

/*---------------Footer----------------*/
.social-media{
    padding-top: 2em;
    margin-bottom: 0;
    text-align: center;
    font-size: 2rem;
}

.flex-icon{
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.social-media-logo1{
    width: 6.25%;
    margin: 0 1.5em;
}

.social-media-logo1:hover{
    position: relative;
    transform: translateY(-10px);
    transition: 0.35s;
    cursor: pointer;
}

.social-media-logo2{
    width: 6.25%;
    margin: 0 1.5em;
}

.social-media-logo2:hover{
    position: relative;
    transform: translateY(-10px);
    transition: 0.35s;
    cursor: pointer;
}


.social-media-logo3{
    width: 6.25%;
    margin: 0 1.5em;
}

.social-media-logo3:hover{
    position: relative;
    transform: translateY(-10px);
    transition: 0.35s;
    cursor: pointer;
}


.social-media-logo4{
    width: 6.25%;
    margin: 0 1.5em;
}

.social-media-logo4:hover{
    position: relative;
    transform: translateY(-10px);
    transition: 0.35s;
    cursor: pointer;
}


footer{
    text-align: center;
    font-size: small;
}

.Desiigner{
    text-decoration: none;
}

.Desiigner:visited{
    text-decoration: none;
    color: white;
}

.Desiigner:hover{
    color: #ff0000;
    transition: 0.35s;
    text-decoration: none;
}

@media screen and (min-width: 600px) {

    /*Image Slider*/

    .image-slider{
        position: relative;
        width: 100%;
        height: 500px;
        margin: 10px;
        background: #000;
       
    }
    
    .image-slider .slide{
        z-index: 1;
        position: absolute;
        width: 100%; 
        clip-path: circle(0% at 0 50%);
    }
    
    .image-slider .slide.active{
        clip-path: circle(150% at 0 50%);
        transition: 2s;
        transition-property: clip-path;
    }
    
    
    .image-slider .slide img{
        z-index: 1;
        width: 100%;
        border-radius: 5px;
        height: 500px;
    }
    
    .image-slider .navigation{
        z-index: 2;
        position: absolute;
        display: flex;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .image-slider .navigation .btn{
        background: rgba(255, 255, 255, 0.5);
        width: 12px;
        height: 12px;
        margin: 10px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .image-slider .navigation .btn.active{
        background: #ff0000;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);    
    }

    /*Posters*/

    .flex-poster{
      flex-direction: row;
      justify-content: space-around;
      height: 25em;
    }

    .event-poster1{
        max-width: 75%;
        margin: 0 auto;
    }
    
    .event-poster2{
        max-width: 75%;
        margin: 0 auto;
    }
    
    .event-poster3{
        max-width: 75%;
        margin: 0 auto;
        padding-bottom: 3em;
    }

    .event-poster1:hover{
             transform: scale(1.05);
             transition: 0.35s;
    }

    .event-poster2:hover{
        transform:scale(1.05) ;
        transition: 0.35s;
    }

    .event-poster3:hover{
        transform: scale(1.05);
        transition: 0.35s;
        
    }


    body{
        margin: 0 0;
        margin-top: 2em;
    }

    .container{
        margin: 0 auto;
        max-width: 100%;
    }

    .info {
        text-align: center;
        font-size: 2.5rem;
        margin: 0;
        padding: 0;
    }
    header{
        margin: 0 2em;
    }
    .gallery1{
        display: none;
    }
    .gallery2{
        display: block;
        max-height: 375px;
        width: 100%;
        object-fit: cover;
    }
    .flex-icon{
       justify-content: center;
    }
    .social-media-logo{
        width: 3.125%;
        margin: 0 .75em;
    }
}