body{
    background-color: #000;
    color: #fff;
    margin: 0em 2em;
    margin-top: 2em;
    font-family: 'Lato', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 500px;
}

img {
    max-width: 100%;
}

.gallery2{
    display: none;
}

/*------------Body--------------------*/

.flex-poster{
    display: flex;
    flex-direction: column;
}

.event-posters{
    max-width: 75%;
    margin: 0 auto;
    padding-bottom: 3em;
}
.event-posters:last-child{
    padding-bottom: 0em;
}
/*------------Navigation--------------*/

.flex-list{
    display: flex;
    justify-content: space-between;
}

ul{
    padding: 0%;
}

li {
    list-style-type: none;
    font-size: 1rem;
}

.main-nav-links{
    color:#fff;
    text-decoration: none;
}

a:hover{
    color: #ff0000;
}

.current{
    color:#fff;
    text-decoration: none;
    border-bottom: 0.125em solid #fff;
    padding-bottom: 0.25em;
}
.current:hover{
    color:#fff;
}

/*--------------Typography---------------*/

h2{
    text-align: center;
    font-size: 1rem;
    color: #ff0000;
    padding: 1em 0em;
}

.info {
    text-align: center;
    font-size: .95rem;
    margin: 0;
    padding: 0;
}

/*---------------Footer----------------*/
.social-media{
    padding-top: 2em;
    margin-bottom: 0;
    text-align: center;
    font-size: 2rem;
}

.flex-icon{
    display: flex;
    justify-content: center;
}

.social-media-logo{
    width: 6.25%;
    margin: 0 1.5em;
}

footer{
    text-align: center;
    font-size: small;
}

@media screen and (min-width: 600px) {
    .flex-poster{
        flex-direction: row;
        justify-content: space-between;
    }

    .event-posters{
        max-width: 25%;       
    }

    body{
        margin: 0 0;
        margin-top: 2em;
    }

    .container{
        margin: 0 auto;
        max-width: 100%;
    }

    .info {
        text-align: center;
        font-size: 1.6rem;
        margin: 0;
        padding: 0;
    }
    header{
        margin: 0 2em;
    }
    .gallery1{
        display: none;
    }
    .gallery2{
        display: block;
    }
    .flex-icon{
       justify-content: center;
    }
    .social-media-logo{
        width: 3.125%;
        margin: 0 .75em;
    }
}